.error-msg{
	color:red;
	padding-top: 10px;
}
.fixd-footer{
	width: 100%;
    position: fixed;
    bottom: 0;
	left: 0;
}

#chat-page .chat-me .am-list-extra{
	flex-basis: auto;
}
#chat-page .chat-me .am-list-content{
	padding-right: 15px;
	text-align: right;
}
.stick-footer{
	z-index: 10;
	position: fixed;
	bottom: 0;
	width: 100%;
}